

<style>
  .project-section{
    display:flex;
  }
  .project-section.right-side{
    display: flex;
    justify-content: flex-start;
  }
  .project-section.left-side{
    display: flex;
    justify-content: flex-end;
  }
  .image-container{
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 80%;
    position: relative;
  }
  .image-container.right-side{
    display: flex;
    justify-content: flex-end;
  }
  .image-container.left-side{
    display: flex;
    justify-content: flex-start;
  }
  .project-summary-container-right{
    position: relative;
    right: -100%;
    opacity: 0;
    top: 20px;
    width: 50%;
  }
  .animate-left{
    transition: left .005s ease, opacity .005s ease;
    animation: slideInLeft linear forwards;
    animation-timeline: scroll();
  }
  .project-summary-container-left{
    position: relative;
    left: -25%;
    top: 20px;
    width: 50%;
  }
  .project-summary{
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    position: sticky;
    height: fit-content;
    padding: 24px;
    width: 100%;
  }
  .project-summary h2{
    color:#fff;
  }

  /* Animate in from right */
  @keyframes slideInLeft {
      from {
        left: -100%;
        opacity: 0;
      }
  
      to {
        left: -25%;
        opacity: 1;
      }
  }
  /* Animate in from right */
  @keyframes slideInRight {
      from {
        right: -100%;
        opacity: 0;
      }
  
      to {
        right: -25%;
        opacity: 1;
      }
  }
</style>

<div class="container page-width">
  <div class="project-section right-side">
    <div class="image-container right-side" style="background-image: url('https://cdn.shopify.com/s/files/1/0580/4156/5382/files/pexels-lastly-808465.jpg?v=1732569233');">
      <div class="project-summary-container-right">
        <div class="project-summary">
          <p>Shopify Storefront Design</p>
          <h2 class="h1">Arrowhood Board Co.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="project-section left-side">
    <div class="image-container left-side" style="background-image: url('https://cdn.shopify.com/s/files/1/0580/4156/5382/files/pexels-lastly-808465.jpg?v=1732569233');">
      <div class="project-summary-container-left">
        <div class="project-summary">
          <p>Shopify Storefront Design</p>
          <h2 class="h1">Arrowhood Board Co.</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    window.addEventListener("scroll", function () {
        var st = window.pageYOffset || document.documentElement.scrollTop;
        var lastScrollTop;
        if (st > lastScrollTop) {
            //scrolling down
            // console.log('down st: ', st);
        } else if (st < lastScrollTop) {
            //scrolling up
            // console.log('up st: ', st);
        }
        lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
    }, false);
</script>

{% schema %}
  {
    "name": "Project List",
    "settings": [],
    "presets": [
      {
        "name": "Project List",
      }
    ]
  }
{% endschema %}