body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.scroll-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height:auto;
    clip: rect(auto, auto, auto, auto);
}

.hero {
    background-image: url('images/snowboard-hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.4);
    padding: 48px;
    height: 400px;
    width: 100%;
    color: #fff;
}

.hero-overlay p {
    margin-bottom: 0;
}

.summary {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
}

.content-one-container,
.content-two-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.summary-content-1 {
    width: 40%;
    position: relative;
    left: 0px;
    opacity: 1;
    transition: left .005s ease, opacity .005s ease;
    animation: moveTextOut linear forwards;
    animation-timeline: scroll();
    padding: 32px;
}

.summary-image-one,
.summary-image-two {
    display: flex;
    width: calc(60% - 24px);
    position: relative;
    margin-left: 24px;
}

.summary-content-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 1;
    right: 0;
    width: 40%;
    transition: right .005s ease, opacity .005s ease;
    animation: moveTextIn linear forwards;
    animation-timeline: scroll();
    padding: 32px;
}

.summary-image-1 {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    width: 80%;
    border-radius: 16px;
    overflow:hidden;
    transition: width .005s ease;
    animation: imageResize linear forwards;
    animation-timeline: scroll();
}

.summary-image-2 {
    position: relative;
    margin-left: 24px;
    border-radius: 16px;
  overflow:hidden;
    width: 80%;
    top: -180px;
    left: 100%;
    opacity: 1;
    transition: top .005s ease, left .005s ease, width .005s ease;
    animation: moveImage linear forwards;
    animation-timeline: scroll();
}
.summary-image-1 img,
.summary-image-2 img {
  width: 100%;
  height: auto;
}
#hero-title {
    font-size: 3rem;
    opacity: 1;
    transition: font-size .005s ease, opacity .005s ease;
    animation: growAndFade linear forwards;
    animation-timeline: scroll();
    /* white-space: nowrap; */
    margin: 0;
}

/* Keyframe for the scroll animation */
@keyframes growAndFade {
    from {
        font-size: 3rem;
        opacity: 1;
    }

    to {
        font-size: 16rem;
        opacity: -4;
    }
}

/* Keyframe for the scroll animation */
@keyframes moveTextOut {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -450px;
        opacity: -1;
    }
}

/* Keyframe for the scroll animation */
@keyframes moveTextIn {
    from {
        right: -50%;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/* Keyframe for the scroll animation */
@keyframes imageResize {
    from {
        width: 80%;
    }

    to {
        width: 100%;
    }
}

/* Keyframe for the scroll animation */
@keyframes moveImage {
    from {
        top: -180px;
        left: 100%;
        width: 80%;
    }

    to {
        top: 0;
        left: 0;
        width: 99%;
    }
}
