.support-nav-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: max-content;
  overflow: scroll;
}
.support-menu{
  display: flex;
  flex: 1;
}
.support-menu ul{
  display:flex;
  list-style:none;
  flex-direction: row;
  gap:16px;
  margin:0;
  flex:1;
  padding: 0;
}

.support-menu__link{
  text-decoration:none;
}
.support-menu__link:hover{
  text-decoration:underline;
}
.support-menu__link--active{
  text-decoration:underline;
}

.support-link{
  display:flex;
}

.support-nav-mobile-container{
  overflow: scroll;
}

@media only screen and (min-width: 750px) {
  .support-nav-mobile-container{
    overflow: auto;
  }
  .support-nav-container{
    width: auto;
    overflow: auto;
  }
}